<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <!--<mageflypayment>
                <model>MageflyPaymentFacade</model>
                <payment_action>authorize</payment_action>
                <active>1</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>1</can_edit>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <cctypes>AE,VI,MC,DI,JCB,CUP,DN,MI</cctypes>
                <useccv>1</useccv>
                <order_status>processing</order_status>
                <environment>sandbox</environment>
                <public_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <private_key backend_model="Magento\Config\Model\Config\Backend\Encrypted" />
                <masked_fields>cvv,number</masked_fields>
                <paymentInfoKeys>cc_type,cc_number,processorAuthorizationCode,processorResponseCode,processorResponseText</paymentInfoKeys>
                <group>mageflypayment_group</group>
            </mageflypayment>-->

            <mageflypayment_isbank>
                <model>MageflyIsbankFacade</model>
                <payment_action>authorize</payment_action>
                <test_client_id>700655000100</test_client_id>
                <test_client_username>ISBANKAPI</test_client_username>
                <test_client_password>ISBANK07</test_client_password>
                <active>1</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>1</can_edit>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <cctypes>AE,VI,MC,DI,JCB,CUP,DN,MI</cctypes>
                <useccv>1</useccv>
                <order_status>processing</order_status>
                <group>mageflypayment_group</group>
            </mageflypayment_isbank>

            <mageflypayment_girogate>
                <model>MageflyGirogateFacade</model>
                <payment_action>authorize</payment_action>
                <test_client_id>700666777888</test_client_id>
                <test_client_password>KUTU1515</test_client_password>
                <test_client_username>Wallmur</test_client_username>
                <test_endpoint>https://entegrasyon.asseco-see.com.tr/fim/est3Dgate</test_endpoint>
                <test_order_history_endpoint>https://entegrasyon.asseco-see.com.tr/fim/api</test_order_history_endpoint>
                <live_client_id>700666628730</live_client_id>
                <live_client_password>KArtal3456</live_client_password>
                <live_client_username>Wallmur</live_client_username>
                <live_endpoint>https://sanalpos.isbank.com.tr/fim/est3Dgate</live_endpoint>
                <live_order_history_endpoint>https://sanalpos.isbank.com.tr/fim/api</live_order_history_endpoint>
                <active>1</active>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>0</can_capture_partial>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>1</can_edit>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>0</can_deny_payment>
                <cctypes>AE,VI,MC,DI,JCB,CUP,DN,MI</cctypes>
                <useccv>1</useccv>
                <order_status>processing</order_status>
                <group>mageflypayment_group</group>
            </mageflypayment_girogate>

        </payment>
    </default>
</config>
